:root {
    
    --header-height: 48px;
    --aside-width: 225px;
    --search-height: 48px;
    --process-height: 48px;

    --shadow:
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

/* Font */

/* @font-face{
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Thin.ttf');
  } */

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Layout Grid */

.app {
    margin: 0px;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows: 
        var(--header-height)
        1fr;

    grid-template-areas:
        "header header"
        "menu content";
    height: 100vh;
    background-color: #eaeaea;
}

header.header {
    grid-area: header;
}

aside.menu-area {
    grid-area: menu;
    background-color: #f4f4f4
}

main.content {
    grid-area: content;
}